@font-face {
  font-family: "Bebas";
  src: url(../fonts/BebasRegular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Bebas";
  src: url(../fonts/BebasBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Bebas";
  src: url(../fonts/BebasLight.otf);
  font-weight: 300;
}

body {
  margin: 0;
}

.carprice {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-left: 185px;
}

@media (max-width: 1023px) {
  .carprice {
    margin-left: 0;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  border-bottom: 1px solid #40b977;
}

.title2 {
  font-size: 50px;
  font-weight: 700;
  border-bottom: 1px solid white;
  color: white;
}

.text {
  font-size: 28px;
  color: #40b977;
}

.green {
  color: #40b977;
}

.weight {
  font-weight: 700;
}

@media (max-width: 1300px) {
  .title,
  .title2 {
    font-size: 43px;
  }
  .text {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .title,
  .title2 {
    font-size: 35px;
  }
  .text {
    font-size: 20px;
  }
}

.header {
  background-image: url(../images/header/bg_header.png);
  background-size: cover;
  height: 140vh;
  padding-top: 15%;
  margin-top: -12%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__img {
  width: 35%;
}

.main {
  background-image: url(../images/main__bg.png);
  background-size: cover;
  margin-top: -12%;
  padding-top: 12%;
}

.obraz__title {
  font-family: "Bebas";
  font-size: 75px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.tasks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.tasks__item1-title {
  font-size: 40px;
  position: relative;
}

.tasks__item1-title::before {
  content: "01";
  position: absolute;
  font-size: 250px;
  color: #40b977;
  opacity: 0.2;
  top: -250%;
  left: -25%;
}

.tasks__item1-title2::before {
  content: "02";
}

.tasks__item2 {
  max-width: 700px;
}

@media (max-width: 1300px) {
  .tasks__item2 {
    max-width: 600px;
  }
}

@media (max-width: 1024px) {
  .tasks__list:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1024px) {
  .tasks__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tasks__list:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .tasks__item1-title1 {
    margin-bottom: 80px;
  }
  .tasks__item2 {
    text-align: center;
  }
  .tasks__item1-title2 {
    margin-bottom: 80px;
  }
}

.campaign {
  margin-bottom: 0px;
}

.campaign__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.campaign__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.campaign__item1 .campaign__item-textblock {
  background-image: url(../images/campaign/paper.png);
}

.campaign__item2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -10%;
}

.campaign__item2 .campaign__item-textblock {
  background-image: url(../images/campaign/paper2.png);
}

.campaign__item3 {
  margin-top: -5%;
}

.campaign__item3 .campaign__item-textblock {
  background-image: url(../images/campaign/paper3.png);
}

.campaign__item4 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -10%;
}

.campaign__item4 .campaign__item-textblock {
  background-image: url(../images/campaign/paper4.png);
}

.campaign__item-textblock {
  width: 550px;
  height: 275px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.campaign__item-text {
  width: 50%;
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 700;
}

.linear {
  position: absolute;
}

.linear1 {
  top: 31%;
  left: 24%;
}

.linear2 {
  left: 45%;
  top: 25%;
}

.linear3 {
  left: 46%;
  top: 59%;
}

.linear4 {
  left: 72%;
  top: 50%;
}

@media (max-width: 1400px) {
  .campaign__content {
    max-width: 60%;
  }
  .campaign__item-textblock {
    width: 400px;
    height: 200px;
  }
  .campaign__item-text {
    font-size: 20px;
  }
  .linear1 {
    top: 31%;
    left: 20%;
  }
}

@media (max-width: 1300px) {
  .campaign__content {
    max-width: 75%;
  }
  .linear2 {
    left: 44%;
    top: 21%;
  }
  .linear3 {
    left: 44%;
    top: 59%;
  }
  .linear4 {
    top: 48%;
  }
}

@media (max-width: 1200px) {
  .campaign__content {
    max-width: 85%;
  }
}

@media (max-width: 1024px) {
  .campaign__title {
    margin-bottom: 80px;
  }
  .campaign__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .campaign__item {
    margin-bottom: 20px;
    background: none;
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  .campaign__item-textblock {
    background-image: none !important;
    width: 100%;
    height: auto;
  }
  .campaign__item-text {
    width: 100%;
    text-align: left;
    position: relative;
    font-size: 25px;
    font-weight: 400;
    margin-top: 0;
  }
  .campaign__item-text::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #40b977;
    border-radius: 50%;
    left: -30px;
    top: 5px;
  }
  .linear {
    display: none;
  }
}

.portraits {
  margin-bottom: 100px;
}

.slider1__item {
  margin-right: 10px;
}

.slider1__item-img {
  width: 80%;
  margin: 0 auto;
}

.slider1__item-subtitle {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.slider1__item-text {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

@media (max-width: 768px) {
  .slider1__item-img {
    width: 50%;
  }
  .slider1 .slick-dots {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
  .slider1 .slick-dots li {
    cursor: pointer;
    list-style-type: none;
  }
  .slider1 .slick-dots button {
    background-color: #b63d9a;
    height: 12px;
    color: black;
    width: 12px;
    border: transparent;
    margin-right: 20px;
    cursor: pointer;
    font-size: 1px;
    border-radius: 50%;
  }
  .slider1 .slick-active button {
    background-color: #40b977;
    height: 12px;
    width: 12px;
    border: transparent;
    margin-right: 20px;
    color: transparent;
    border-radius: 50%;
  }
  .slider1__item-text {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .slider1__item-img {
    width: 80%;
  }
}

.desicion {
  background-image: url(../images/desicion/desicion_bg.jpg.png);
  background-size: 135%;
  background-repeat: no-repeat;
  background-position-y: -5%;
  background-position-x: 0;
  padding-bottom: 80px;
}

.desicion__text {
  margin-bottom: 40px;
}

.desicion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desicion__list:not(:last-child) {
  margin-bottom: 40px;
}

.desicion__list-img {
  width: 50%;
  margin-right: 50px;
}

.desicion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desicion__content2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 100px;
}

.desicion__content-title {
  font-size: 200px;
  line-height: 1;
  font-weight: 900;
  color: #40b977;
  margin: 0;
}

.desicion__content-subtitle {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 20px;
}

.desicion__content-text {
  text-align: center;
}

.desicion__green {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #40b977;
}

.desicion__green-title {
  font-size: 50px;
  color: white;
  margin-right: 100px;
}

.desicion__green-text {
  color: white;
}

@media (max-width: 1440px) {
  .desicion {
    background-position-y: -24%;
  }
}

@media (max-width: 1300px) {
  .desicion {
    background-image: none;
  }
  .desicion__content2 {
    margin-right: 50px;
  }
  .desicion__green-title {
    font-size: 40px;
    margin-right: 50px;
  }
}

@media (max-width: 1024px) {
  .desicion__content2 {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .desicion {
    margin-bottom: 0;
  }
  .desicion__list-img {
    margin-right: 0;
  }
  .desicion__list1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .desicion__list2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .desicion__content2 {
    margin-right: 0px;
  }
  .desicion__content-text {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .desicion__green {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  .desicion__green-title {
    margin-right: 0;
    text-align: center;
    font-size: 35px;
    max-width: 80%;
  }
  .desicion__green-text {
    padding-left: 20px;
  }
  .desicion__list-img {
    width: 85%;
  }
}

.why {
  background-image: url(../images/why/why__Bg.png);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 100px;
}

.why__inner {
  position: relative;
}

.why__title {
  width: 50%;
}

.why__content {
  width: 50%;
  background-image: url(../images/why/success.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.why__img {
  position: absolute;
  right: 0;
  bottom: -12%;
}

@media (max-width: 1300px) {
  .why__img {
    width: 41%;
    top: none;
    bottom: 1%;
  }
}

@media (max-width: 768px) {
  .why {
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .why__title {
    width: 100%;
  }
  .why__content {
    width: 100%;
  }
  .why__img {
    display: none;
  }
}

.examples {
  background-image: url(../images/why/why__Bg.png);
  background-size: cover;
  margin-top: -3%;
  padding-top: 2%;
  padding-bottom: 100px;
}

.slider2 .slick-prev,
.slider2 .slick-next {
  position: absolute;
  border: none;
  color: transparent;
  background-repeat: no-repeat;
  width: 25px;
  height: 37px;
  background-color: transparent;
  bottom: -8%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  cursor: pointer;
  bottom: -15%;
}

.slider2 .slick-prev {
  background-image: url(../images/slider2/arrow__left.png);
  left: 45.5%;
}

.slider2 .slick-next {
  background-image: url(../images/slider2/arrow__right.png);
  right: 42%;
}

.slider2__item {
  margin-right: 10px;
  margin-left: 10px;
}

.slider2__item-img {
  width: 100%;
}

@media (max-width: 1300px) {
  .slider2 .slick-prev,
  .slider2 .slick-next {
    bottom: -20%;
  }
}

@media (max-width: 768px) {
  .slider2__item-img {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .slider2 .slick-prev {
    left: 36%;
    bottom: -20%;
  }
  .slider2 .slick-next {
    right: 30%;
    bottom: -20%;
  }
  .slider2__item-img {
    width: 80%;
  }
}

.result {
  background-image: url(../images/result/result__bg.png);
  margin-top: -300px;
  padding-top: 300px;
}

.result__title {
  width: 25%;
}

.result__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
}

.result__textblock {
  width: 50%;
}

.result__text {
  padding-left: 30px;
  color: white;
  position: relative;
}

.result__text::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  left: 0;
  top: 10px;
}

.result__img {
  width: 40%;
}

@media (max-width: 1250px) {
  .result__content {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .result__title {
    width: 100%;
  }
  .result__textblock {
    width: 100%;
  }
  .result__text::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    left: 0;
    top: 10px;
  }
  .result__img {
    display: none;
  }
}

.success {
  padding-top: 80px;
  padding-bottom: 100px;
}

.success__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.success__img {
  width: 45%;
}

.success__img:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .success__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .success__img:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .success__img {
    width: 85%;
  }
}

.opinion {
  background-image: url(../images/result/result__bg.png);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}

.opinion__title {
  margin-bottom: 50px;
}

.opinion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opinion__img {
  width: 20%;
}

.opinion__textblock {
  background-color: white;
  width: 40%;
  padding: 30px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.opinion__text {
  font-size: 20px;
}

.opinion__subtext {
  text-align: right;
}

.kavichki {
  width: 5%;
  position: absolute;
  top: -5%;
}

@media (max-width: 1300px) {
  .opinion__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .opinion__img {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .opinion__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .opinion__textblock {
    width: 80%;
  }
  .kavichki {
    display: none;
  }
}

@media (max-width: 500px) {
  .opinion__img {
    width: 50%;
  }
}

.footer {
  background-image: url(../images/result/result__bg.png);
  margin-top: -5%;
  padding-top: 5%;
  padding-bottom: 80px;
}

.footer__title {
  margin-bottom: 60px;
}

.footer__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.footer__item-img {
  width: 40%;
  border-radius: 20px;
}

.footer__item-title {
  margin-top: 12px;
  margin-bottom: 12px;
  color: white;
  font-size: 20px;
}

.footer__item-text {
  color: white;
  margin-top: 0;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1024px) {
  .footer__item-title {
    width: 60%;
    text-align: center;
  }
  .footer__item-text {
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer__item-img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .footer__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
